@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans serif;
    box-sizing: border-box;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
}

*::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
}

html body {
    opacity: 0;
    animation: fade 1.7s forwards;
}

@keyframes fade {
    100% {
        opacity: 1;
    }
}

header {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.167);
    z-index: 7;
    display: grid;
    position: fixed;
    width: 100vw;
    backdrop-filter: blur(3px);
    background: rgb(245, 245, 245);
    padding-right: 1rem;
    padding-left: 1rem;
}

header div:nth-of-type(1) {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    justify-content: center;
    height: 0;
    overflow: hidden;
    align-items: center;
    opacity: 0;
    transition: all .5s ease-in-out;
}

#sign-in {
    display: grid;
    row-gap: .7rem;
    width: 94.7vw;
}

.menu {
    font-size: .9rem;
}

.menu div:nth-last-of-type(1) {
    display: grid;
    row-gap: .7rem;
}

.menu h3 {
    font-weight: 400;
    font-size: .8rem;
    opacity: 0;
}

#user-menu:checked+.menu h3 {
    animation: fadein 1s forwards ease-in-out;
}
#p1{
    font-size: 1rem;
}
#p3{
    color: #f50;
}
.menu p {
    font-size: .8rem;
    display: flex;
    align-items: center;
    column-gap: .1rem;
    opacity: 0;
}

.menu a:nth-of-type(1){
    color: gray;
}

.menu a:hover{
    color: #f50;
}

#user-menu:checked+.menu p {
    animation: fadein 1s forwards ease-in-out;
}

@keyframes fadein {
    100% {
        opacity: 1;
    }
}

#user-menu:checked+.menu {
    animation: fadein .5s forwards ease-in-out;
    height: 12rem;
}

.logo {
    background-image: url(Assets/Images/Nike\ Airmax.gif);
    mix-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    height: 4rem;
    width: 7rem;
}

ul {
    display: flex;
    align-items: center;
    column-gap: 3rem;
    font-weight: 500;
}

li {
    list-style: none;
    transition: all .3s ease-in-out;
}

li:hover {
    cursor: pointer;
    color: #f50;
}

.search {
    background-image: url(Assets/Images/search-interface-symbol.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 2rem;
    width: 1.1rem;
    transition: all .3s ease-in-out;
}

header nav:nth-of-type(2) {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    cursor: pointer;
}

.bag {
    background-image: url(Assets/Images/shopping.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 2rem;
    width: 1.2rem;
    transition: all .3s ease-in-out;
}

.bag:hover,
.user:hover,
.search:hover {
    transform: scale(1.10);
}

.user {
    margin-right: 1.6rem;
    cursor: pointer;
    background-image: url(Assets/Images/user.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 2rem;
    width: 1.2rem;
    transition: all .3s ease-in-out;
}

.hero {
    height: 40.7rem;
    display: flex;
    overflow: hidden;
    background-color: rgba(158, 158, 158, 0.052);
}

.left {
    cursor: default;
    display: grid;
    align-content: center;
    align-items: center;
    row-gap: 1rem;
    width: 60rem;
    padding: 1rem 2rem;
}

.title h1 {
    font-size: 9vw;
}

.title h2 {
    font-size: 3vw;
    margin-top: -3vw;
    margin-left: .6rem;
}

.left p {
    margin-left: 1rem;
}

.left button {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
    margin-left: 1rem;
    width: fit-content;
    padding: .7rem 1.7rem;
    outline: none;
    border: none;
    border-radius: 3rem;
    background-color: black;
    color: white;
    font-size: 1.07rem;
    transition: all .3s ease-in-out;
}

.left button:hover {
    background-color: #f50;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;

}

.hero img {
    cursor: pointer;
    max-width: 100%;
    mix-blend-mode: multiply;
    max-height: 100%;
    transition: transform 0.3s ease-in-out;
}

.hero img:hover {
    transform: scale(1.01);
}

.banner1 {
    margin-top: 1vw;
    display: grid;
}

.banner1 nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .7rem 2rem;
}

.banner1 a {
    display: flex;
    align-items: center;
    column-gap: .4rem;
    text-decoration: none;
    color: grey;
    transition: all .3s ease-in-out;
}

.banner1 a:hover {
    color: black;
}

.banner1 a img {
    width: 1rem;
    height: 1rem;
}

.banner1 nav h1 {
    cursor: default;
    font-weight: 500;
}

.popular-collection {
    cursor: pointer;
    display: flex;
    overflow: scroll;
}

.shoe {
    display: flex;
    padding: 2vw 2rem;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
}

.shoe-details {
    display: grid;
    justify-content: center;
    align-items: center;
}

.shoe-image {
    height: 22.3rem;
    width: 22.3rem;
    overflow: hidden;
}

.shoe img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    transition: all .3s ease-in-out;
}

.shoe img:hover {
    transform: scale(1.03);
}

.shoe h3 {
    margin-top: .3rem;
    font-weight: 500;
}

.shoe h1 {
    font-weight: 600;
}

.banner2 nav {
    margin-top: 2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .7rem 2rem;
}

.banner2 h1 {
    font-weight: 500;
}

.featured-collection {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;
    row-gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 1vw 1rem;
    align-items: stretch;
}

.featured-collection img {
    width: 100%;
    height: 100%;
    transition: all .3s ease-in-out;
}

.featured-collection img:hover {
    transform: scale(1.03);
}

.casuals {
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    height: 37rem;
    width: 29vw;
}

.sports {
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    height: 40rem;
    width: 66vw;
}

.sliders {
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    margin-top: -3rem;
    height: 38rem;
    width: 29vw;
}

.sale {
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border: 1px solid black;
    height: 35rem;
    width: 66vw;
}


.banner3 {
    margin-top: 3vw;
    display: grid;
}

.banner3 nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .7rem 2rem;
}

.banner3 a {
    display: flex;
    align-items: center;
    column-gap: .4rem;
    text-decoration: none;
    color: grey;
    transition: all .3s ease-in-out;
}

.banner3 a:hover {
    color: black;
}

.banner3 a img {
    width: 1rem;
    height: 1rem;
}

.banner3 nav h1 {
    cursor: default;
    font-weight: 500;
}

.new-arrivals {
    cursor: pointer;
    display: flex;
    overflow: scroll;
}

footer {
    display: grid;
    margin-top: 3rem;
    background-color: #89898911;
}

.footer-content {
    margin-top: -2rem;
    display: flex;
    justify-content: space-between;
    padding-left: 1.7rem;
    padding-right: 1.7rem;
    padding-bottom: 2rem;
    column-gap: 7rem;
}

.footer-content ul {
    display: grid;
    row-gap: .3rem;
}

.footer-content span {
    font-weight: 700;
}

footer .logo {
    margin-top: -1.7rem;
    background-image: url(Assets/Images/Nike\ Airmax.gif);
    mix-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    height: 10rem;
    width: 10rem;
}

footer a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    transition: all .3s ease-in-out;
}

footer a:hover {
    color: #f50;
}

.newsletter form {
    display: grid;
    row-gap: .4rem;
}

.newsletter input {
    height: 2.3rem;
    border-radius: 3rem;
    border: 1px solid gray;
    outline: none;
    padding: 0 1rem;
}

.newsletter button {
    cursor: pointer;
    border-radius: 3rem;
    outline: none;
    border: none;
    background-color: black;
    color: white;
    padding: .7rem 0;
    transition: all .3s ease-in-out;
}

.newsletter button:hover {
    background-color: #f50;
}

header a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    transition: all .3s ease-in-out;
}

header a:hover {
    color: #f50;
}

.featured-collection button {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    z-index: 1;
    position: absolute;
    margin: 1rem;
    background-color: rgba(0, 0, 0, 0.296);
    backdrop-filter: blur(10px);
    color: white;
    margin-top: 33rem;
    cursor: pointer;
    border: none;
    border-radius: 3rem;
    font-size: 1rem;
    padding: .4rem 1.3rem;
    transition: all .3s ease-in-out;
}

.sliders button {
    margin-top: 34rem;
}

.sports button {
    margin-top: 36rem;
}

.sale button {
    margin-top: 30.9rem;
}


.featured-collection button:hover {
    background-color: #f50;
}