@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans serif;
    box-sizing: border-box;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
}

.main{
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    row-gap: 3rem;
    padding-top: 7rem;   
}

.main2{
display: flex;
justify-content: space-evenly;
align-items: center;
row-gap: 2rem;
padding: 0 3rem;
column-gap: 3rem;
flex-wrap: wrap;
}

.main h1:nth-of-type(1){
    text-align: center;
}
.main a{
    text-decoration: none;
    color: black;
}

.main h1{
    text-transform: capitalize;
    font-weight: 600;
    font-size: 1.7rem;
    text-align: left;
}

.main p{
font-size: .9rem;
text-align: left;
}

.main img{
    height: 3rem;
    width: 3rem;
}

.edit-profile{
    width: 18rem;
 border: none;
 box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
 border-radius: 1rem;
padding: 2rem 3rem;
 display: flex;
 column-gap: 3rem;
 justify-content: center;
 align-items: center;
}

a:hover{
transition: all .4s ease-in-out;
animation: divfade .4s  forwards;
}

@keyframes divfade{
    0%{
        background-color: transparent;
    }
    100%{
        background-color: rgba(245, 245, 245, 0.5);
        color: #f50; 
    }
}

.main p{
    color: gray;
}

.your-orders{
    width: 18rem;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 1rem;
   padding: 2rem 3rem;
    display: flex;
    column-gap: 3rem;
    justify-content: center;
    align-items: center;
   }

.address{
    width: 18rem;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 1rem;
   padding: 2rem 3rem;
    display: flex;
    column-gap: 3rem;
    justify-content: center;
    align-items: center;
   }

.log-out{
    width: 18rem;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 1rem;
   padding: 2rem 3rem;
    display: flex;
    column-gap: 3rem;
    justify-content: center;
    align-items: center;
   }

.edit-profile-details{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    position: fixed;
    z-index: 17;
    background-color: white;
    width: 100vw;
    transform: translateX(100vw);
    height: 100vh;
}

.edit-profile-details header{
    background-color: white;
    box-shadow: none;
    padding: 1rem 8rem;
    justify-content: right;
}

.edit-profile-details svg{
   fill: black;
    height: 2.7rem;
    width: 2.7rem;
    transition: all .4s ease-in-out;
}

.edit-profile-details svg:hover{
    cursor: pointer;
    fill: #f50;
}

.edit-address-details{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    position: fixed;
    z-index: 17;
    background-color: white;
    width: 100vw;
    transform: translateX(100vw);
    height: 100vh;
}

.edit-address-details header{
    background-color: white;
    box-shadow: none;
    padding: 1rem 8vw;
    justify-content: right;
}

.edit-address-details svg{
   fill: black;
    height: 2.7rem;
    width: 2.7rem;
    transition: all .4s ease-in-out;
}

.edit-address-details svg:hover{
    cursor: pointer;
    fill: #f50;
}

.user-details{
    padding: 0 3rem;
    margin-top: 7rem;
}

.slidein{
    animation: sildeinprofile .7s forwards;
}

@keyframes sildeinprofile{
    0%{
        transform: translateX(100vw);
    }
    100%{
        transform: translateX(7.5vw);
    }
}

.slideout{
    animation: sildeinprofileout .7s forwards;
}

@keyframes sildeinprofileout{
    0%{
        transform: translateX(7.5vw);
    }
    100%{
        transform: translateX(100vw);
    }
}